#directory in which you run the analysis
export base_dir=/path/to/directory_for_analysis
#full path to pipeline folder, remember to update if you change versions or copied it
export pipeline_dir=/path/to/pipeline
#scripts folder
export scripts_dir=$pipeline_dir/scripts
#submit dir
export submit_dir=$pipeline_dir/submit_files
export conda=/path/to/conda
#for scarcity you can use /opt/bifxapps/miniconda3/condabin/conda
###Requires conda environments for python with biopython
#and R with ggplot2
export pythonenv=/path/to/pythonenv
#for scarcity you can use: /mnt/bigdata/linuxhome/jwolters/conda_envs/biopython
export R_env=/path/to/Renv
###Requires python2 and pydagman (give path to be appended to PYTHONPATH)
python2=/path/to/python2.7+
pydagman_location=/path/to/pydagman/location
#for scarcity you can use: /mnt/bigdata/linuxhome/jwolters/conda_envs/R_env
#full path to desired hmmer version
#note that pipeline is made to run run using CentOS7 machines so it requires a compatible version
export hmmer_path=/path/to/hmmer/bin
#for scarcity you can use/opt/bifxapps/hmmer-3.3_c7/bin
#desired evalue cutoff for hmmer hits
export evalue=0.001
#Required tools for tree building
export clustalo=/path/to/clustalo
#for scarcity you can use /home/GLBRCORG/jwolters/packages/bin/clustalo-1.2.4-Ubuntu-x86_64
export trimal=/path/to/trimal
#for scarcity you can use /home/GLBRCORG/jwolters/packages/trimal/source/trimal
export fasttree=/path/to/fasttree
#for scarcity you can use /home/glbrc.org/jwolters/packages/FastTree/FastTree

###IMPORTANT###
#the full path to the input queries in the format:
#arbitrary_gene_name	full_path_to_alignment
export queryFileName=/path/to/test/query_table.tab
#the full path to the proteins you want to search in the format:
#arbitrary_data_name	full_path_to_proteins	full_path_to_cds
export subjectFileName=/path/to/test/input_table.tab
